<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
 <servlet>
 <servlet-name>ReservationServlet</servlet-name>
 <servlet-class>com.hotel.servlets.ReservationServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>ReservationServlet</servlet-name>
 <url-pattern>/reservation</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>RoomServlet</servlet-name>
 <servlet-class>com.hotel.servlets.RoomServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>RoomServlet</servlet-name>
 <url-pattern>/</url-pattern>
 </servlet-mapping>
 
</web-app>