<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.hotel.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchResult</servlet-name>
    <servlet-class>com.hotel.servlets.SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResult</servlet-name>
    <url-pattern>/se</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.hotel.servlets.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reserve</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.hotel.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  
  
  
	 	       
  </web-app>